﻿@model Entities.News

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>News</h4>
    <hr />
    <dl class="dl-horizontal">

        @*<dt>
            <h4>@Html.DisplayNameFor(model => model.Title)</h4>
        </dt>*@
        <dd>
            <h4><b>@Html.DisplayFor(model => model.Title)</b></h4>
        </dd>

        @*<dt>
            <h4>@Html.DisplayNameFor(model => model.News_body.body) </h4>
        </dt>*@
        <dd>
            @Html.Raw(Model.News_body.body)
        </dd>




        @*<dt>
            @Html.DisplayNameFor(model => model.content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.Time_Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time_Created)
        </dd>*@

        <dd>
            @*@Html.DisplayFor(model => model.ImgURL)*@

            <img style="width:800px;height:380px;" src="@Url.Content("~/images/"+Model.ImgURL)"/>
            
        </dd>

        @*

            <dt>
            @Html.DisplayNameFor(model => model.ImgURL)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowImage)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.News_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
