﻿@model IEnumerable<RETOcontrolPanel.Models.IndexModel>
    

@{
    ViewBag.Title = "Index";
}

<h2>NEWS</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table>
@foreach (var item in Model)
{
    <tr>
        <td>
            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
        </td>
    </tr>
    <tr>
        <td>

            @Html.DisplayFor(modelItem => item.content)@*.ToString().Substring(0 , item.content.Length > 100 ? 150 : item.content.Length)*@
            @Html.ActionLink("Read more", "Details", new { id = item.News_Id })
        </td>
    </tr>
    
    @*<tr>
        <td>
            @Html.DisplayFor(modelItem => item.ImgURL)
        </td>
    </tr>*@

    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.News_Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.News_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.News_Id })
        </td>
    </tr>
}

</table>
